@{
    ViewData["Title"] = "Physical Services Page";
}

<!-- Hero Section -->
<header class="bg-physical-services text-white position-relative overflow-hidden">


    <div class="hero-section-text px-4 text-center">
        <div class="circuit-box">
            <img src="~/images/WhiteCircuit.png" class="circuit1" alt="Circuit design">
        </div>
        <h1 class="phc-title lh-lg display-4 mb-5 mt-3">
            Physical Services
        </h1>

        <p class="hero-desc fw-normal fs-3 mb-5">
            Taking your Physical Security for Granted?
        </p>    
        
        <div>
            <img src="~/images/InvertedWhiteCircuit.png" class="circuit2" alt="Circuit design">
        </div>
    </div> 

</header>

<!-- Services Section -->
<section class="services-section py-5 position-relative overflow-hidden">
    <div class="container mx-auto px-4"> 
        <div class="phs-desc row justify-content-center text-center mb-5">
            <div class="col mx-auto">
                <p class="fs-5 text-black mb-4">
                    Physical threat vectors (theft, malware, sabotage) focus on physical security
                    weaknesses. Once breached, they can compromise your business and affect
                    your sustainability. It’s a fatal flaw to underestimate your security measures!
                </p>
                <p class="fs-5 text-black">
                    Let our team of certified professionals, both armed and unarmed, help
                    you on your journey to safeguarding your most valuable assets.
                </p>
            </div>
        </div>

        <h2 class="card-title text-center fw-bold fs-2 mb-5">
            Our  Services
        </h2>     
        
        <div class="container-card mx-auto">
            <div class="row row-gutters">
                <div class="col-md-6 d-flex flex-column">
                    <div class="card-body">
                        <p class="card-text">Risk Analysis & Security Audits</p>
                    </div>
                </div>
                <div class="col-md-6 d-flex flex-column">
                    <div class="card-body">
                        <p class="card-text">On-Site Security Personnel / VIP Protection</p>
                    </div>
                </div>
                <div class="col-md-6 d-flex flex-column">
                    <div class="card-body">
                        <p class="card-text">Surveillance Systems</p>
                    </div>
                </div>
                <div class="col-md-6 d-flex flex-column">
                    <div class="card-body">
                        <p class="card-text">Access Control Solutions</p>
                    </div>
                </div>
                <div class="col-md-6 d-flex flex-column">
                    <div class="card-body">
                        <p class="card-text">Alarm and Emergency Response Systems</p>
                    </div>
                </div>
                <div class="col-md-6 d-flex flex-column">
                    <div class="card-body">
                        <p class="card-text">Project Management</p>
                    </div>
                </div>
                <div class="col-md-6 d-flex flex-column">
                    <div class="card-body">
                        <p class="card-text">Security Consulting</p>
                    </div>
                </div>
                <div class="col-md-6 d-flex flex-column">
                    <div class="card-body">
                        <p class="card-text">Vehicle & Perimeter Security</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Contact Form Section -->
<section class="contact-section py-5 position-relative overflow-hidden">
    <h2 class="form-title text-black text-center fw-bold mb-5">
        Contact Us
    </h2>

    <p>
        Ready to take control of your physical security? Contact us today for a consultation.
    </p>

    <div class="physical-contact container mx-auto justify-content-center" ">
        <form class="bg-transparent" method="post" action="#" novalidate>
            <div class="row g-3">
              <div class="col-sm-12 d-flex flex-column-12">
                <input class="form-control dt-input" type="text" placeholder="Name" required />
              </div>
                <div class="col-sm-12 d-flex flex-column-12">
                <input class="form-control dt-input" type="text" placeholder="Surname" required />
              </div>
                <div class="col-sm-12 d-flex flex-column-12">
                <input class="form-control dt-input" type="email" placeholder="Email" required />
              </div>
                <div class="col-sm-12 d-flex flex-column-12">
                <input class="form-control dt-input" type="tel" placeholder="Phone Number" required />
              </div>
                <div class="col-sm-12 d-flex flex-column-12">
                <select class="form-select dt-input">
                  <option selected>Services of Interest</option>
                  <option>Risk Analysis & Security Audits</option>
                  <option>On-Site Security Personnel/VIP Protection</option>
                  <option>Surveillance Systems</option>
                  <option>Access Control Solutions</option>
                  <option>Alarm and Emergency Respone Systems</option>
                  <option>Project Management</option>
                  <option>Security Consulting</option>
                  <option>Vehicle & Perimeter Security</option>
                </select>
              </div>
            </div>

            <div class="mt-3 d-flex justify-content-center">
              <button type="submit" class="btn dt-btn-submit">Submit</button>
            </div>
        </form>
    </div>
</section>